.loginwindow {
	position:relative;
	padding: 25px;
}

.loginwindow input[type=text], .loginwindow input[type=password]{
	float:right;
	width: 288px;
}
.loginwindow label {
	float: left;
	line-height: 48px;
	font-weight: bold;
	color: #888;
}
