@CHARSET "UTF-8";

#loginCard #idBox {
	background: #FFF;
	box-shadow: 0 0 5px #000 inset;
	-moz-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
}

#loginCard #idBox.drophover {
	box-shadow: 0 0 10px #000 inset;
	background-color: #FFF;
}

#loginCard .idCard {
	padding: 10px;
	height: 40px;
	position: relative;
}

#loginCard .idCard h2 {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 43px;
	text-transform:uppercase;
}

#pinBox {
	width: 100%;
	display: none;
	overflow:hidden;
	margin-top: 20px;
}
#pinBox b {
	float: left;
	line-height: 48px;
}
#pinBox input {
	float:right;
}
