
.pagemanager .pagesList {
	min-height:80px;
	background: #FFF;
	border: 2px solid #99cc00;
	padding:20px;
	-moz-box-shadow: #FFF 0 0 1px inset;

}
.pagemanager .pageBtn {
	float: left;
	width: 75px;
	height: 100px;
	font-size: 10px;
	text-align: center;
	cursor: pointer;
	background: url('../resources/text_plain.png') no-repeat center top;
}
.pagemanager .pageBtn span {
	display: block;
	position: relative;
	top: 64px;
}
.pagemanager {
	padding: 10px 20px 20px 20px;
}
#pageManagerMenu {
	background: #FFF;
	background: rgba(255,255,255,0.8);
	border:1px solid #FFF;
	border: thin solid #777;
	position: absolute;
	width: auto;
	z-index: 999999;
}
#pageManagerMenu b {
	text-align: center;
	display: block;
	
}