@CHARSET "UTF-8";
/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

a:LINK, a {text-decoration: none;color: #00aeef;}
a:VISITED {color: #00aeef;}
a:HOVER {color: #0099cc;border-bottom: thin dotted #0099cc;}
body {
	font-family: sans-serif;
	font-size: 12px;
	font-weight:normal;
	color: #333;
	-webkit-font-smoothing: antialiased;
	background-color: #F0F0F0;
}
body.loading {
	cursor: wait !important;
}
table {
	width: 100%;
	color: #FFF;
}
table td { padding: 6px;}
tbody { color: #333; }
table tbody tr:nth-child(even) {
	background: #EEE;
}
thead {
	background: url('resources/header.png');
	font-weight: 800;
}
#header {
	position:absolute;
	height:100%;
	background: #30b6f3;
	border-bottom: thin solid #88B;
	top: 0;
	right: 0;
	left: 0;
	z-index: 88888;
}
.center {
	width: 960px;
	margin: 0 auto;
}
#header .center {margin-top: 200px;}
#logo {
	margin: 10px 0;
	float: left;
}
#headerText {
	float: right;
	color: #FFF;
	font-size: 12px;
	line-height: 50px;
}
#headerText a {
	color: #FFF;
}
#messageField {
	margin: 20px auto;
}
.msg {
	padding: 10px 20px;
	color: #333;
	display:none;

}
#windowSandbox>.msg {
	float:right;
	width: 400px;
	clear: both;
		margin: 20px 20px 0;
}
.msg .winExit {
	margin: 0;
}
.msgWarning {
	background: red;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(205,0,0)),color-stop(1, rgb(255,26,0)));
	background: -moz-linear-gradient(center bottom,rgb(205,0,0) 0%,rgb(255,26,0) 100%);
	border: thin solid #900;
}
.msgInfo {
	background: #EEE;
	border: thin solid #CCC;
}
.rounded6, .msg, input {
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
aside {
	position:absolute;
	top:49px;
	left:0;
	width:200px;
	bottom:20px;
	border-top: thin solid #ffffff;
}

.borderStyle {
	padding:3px;
	background-color: rgba(0,0,0,0.2);
}
.winpadd {padding: 20px;}
.shadow, #taskBar ul li:hover {
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}
.window {
	position: absolute;
	background: rgba(255,255,255,0.4);
	overflow: hidden;
	padding:3px;
	min-width: 100px;
	min-height: 100px;
	font-weight: 400;
	border: 1px solid rgba(255, 255, 255, 0.7);
}
.window.ui-draggable-dragging {
	-moz-box-shadow: 0 0 8px #000;
	-webkit-box-shadow: 0 0 8px #000;
	box-shadow: 0 0 8px #000;
	background: #F4F4F4;
}
.winBorder {
	border: 1px solid #c1c1c1; 
	overflow:hidden;
}
.winBar {
	background: url('resources/winBar.png');
	border-bottom:1px solid #CCC;
	height: 30px;
	-moz-border-radius: 2px 2px 0 0;
	-o-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
	cursor:move;
}
.winTitle {
	font: bold 12px/32px sans-serif;
	color: #333;
	padding: 0 25px;
	float: left;
	background: url("resources/application_xp.png") 5px 7px no-repeat;
}
.winExit {
	float: right;
	height: 15px;
	width: 15px;
	background-image: url('resources/close.png');
	margin: 6px;
	cursor: default;
	opacity: 0.8;
}

.winExit:hover {
	opacity: 1;
	-moz-box-shadow: 0 0 5px red; 
}
.winContent {
	min-height:100px;
	min-width: 100px;
	background: #f4f4f4;
	background: -webkit-gradient(linear,left bottom,left top, color-stop(0, rgb(229,239,244)), color-stop(1, rgb(255,255,255)));
	background: -moz-linear-gradient(center bottom, rgb(229,239,244) 0%, rgb(255,255,255) 100%);	
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
}
.winMini {
	float:right;
	height: 15px;
	width: 15px;
	background-image: url('resources/application_put.png');
	margin: 6px;
	cursor: default;
	opacity: 0.8;
}
.winMini:hover {
	opacity:1;
}
#windowSandbox {
	position: absolute;
	top:49px;
	left: 200px;
	bottom:20px;
	right:0;
	background-image: url(resources/black_denim.png);
	-webkit-box-shadow: 0 0 20px #000 inset;
	-moz-box-shadow: 0 0 20px #000 inset;
	box-shadow: 0 0 20px #000 inset;
}

#taskBar {
	position: fixed;
	bottom:0;
	right: 0;
	left: 200px;
	height: 24px;
	background: url('resources/winBar.png') bottom;
	border-style: solid;
	border-color: #c1c1c1 #fff #fff #AAA;
	border-width: 1px 0 0 1px;
	font-size: 12px;
	font-weight: 400;
	overflow: hidden;
	z-index: 77777;

}
#taskBar ul { 
	list-style-type: none;
	width: 20000px;
}
#taskBar ul li {
	display: block;
	height: 18px;
	padding: 6px 25px 0 25px;
	float: left;
	background: url("resources/application_xp.png") 5px 5px no-repeat;
	min-width: 150px;
	border-right: 1px solid #ccffff;
	overflow: hidden;
	cursor: pointer;
}
#taskBar ul li:hover {
	background-color: rgba(255,255,255,0.2);
}
input[type=text], input[type=password] {
	background: #fff;
	background:-moz-linear-gradient(center bottom,rgb(255,255,255) 0%,rgb(240,240,240) 100%);
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(255,255,255)),color-stop(1, rgb(240,240,240)));
	border: 1px solid #ccc;
	padding: 5px;
	margin: 10px;
}
input[type=text]:focus, input[type=password]:focus  {
	border-color: #99CC00;
	border-width: 2px;
	margin: 9px;
}
input[type=submit], input[type=button] {
	background: url('resources/header.png') center center;
	border: 1px solid #fff;
	padding: 5px;
	margin:5px;
	color: #FFF;
}
input[type=submit], input[type=button] {
	-moz-box-shadow: 0 0 2px #000;
	-webkit-box-shadow: 0 0 2px #000;
	box-shadow: 0 0 2px #000;
}

input[type=submit]:hover, input[type=button]:hover {
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}
input[type=submit]:active, input[type=button]:active {
	background-position: center top;
}
input[type=submit][disabled], input[type=button][disabled] {background: gray; -moz-box-shadow: none;}
label {
	color: #555;
}
.block190 {width: 190px;}
.expBtn {
	padding: 10px;
	border: 1px solid #63b308;
	margin-bottom: 20px;
	cursor: default;
	background: -webkit-gradient(linear,left bottom,left top, color-stop(0, rgb(104,166,75)),color-stop(1, rgb(166,252,109)));
	background: -moz-linear-gradient(center bottom,rgb(104,166,75) 0%,rgb(166,252,109) 100%);
	-moz-box-shadow:0 1px 0px #FFF inset;
}

.expBtn:hover {
	background: -webkit-gradient(linear,left bottom,left top, color-stop(0, rgb(104,166,75)),color-stop(1, rgba(166,252,109,0.5)));
	background: -moz-linear-gradient(center bottom,rgb(104,166,75) 0%,rgba(166,252,109,0.5) 100%);
	border:1px solid #DDD;
	padding:10px;
}
.expBtn:active {
	background: rgb(104,166,75);
}
.expBtn .small {
	font-size: 9px;
}
.expBtn .big {
	font-size: 14px;
	font-weight: bold;
}
.nicelist li {padding: 6px 20px;cursor: pointer;}
.nicelist li:hover {background: url('resources/header.png') center -20px;}
.winLoader {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left:0;
	background: rgba(255,255,255,0.5) url('resources/ajax-loader.gif') center center no-repeat;
	display:none;
}

.biglist {

}
.biglist>li {
	padding: 10px 0 15px;
	border-bottom: 1px solid #DDD;
	cursor: pointer;
	abackground: url('resources/slider.png') -200px 0 repeat-y;
	-webkit-transition: background-color 200ms ease;
	background-color: transparent;
}
.biglist>li+li {border-top: 1px solid #FFF;}
.biglist>li:hover {
	background-color: #FFF !important;
}
.biglist>li>h2 {
	font: bold 14px/26px sans-serif; 
	padding: 0 20px 0 40px;
}
.biglist>li>p {
	font-size: 10px;
	padding: 0 20px 0 40px;
}
.chromeFrameOverlayContent {
	z-index: 100900;
}
