@CHARSET "UTF-8";
/*
 *	This file define styles
 *	for ICE elements
 */
.ice {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.icePointer {
	font: normal 11px/11px Verdana, Arial, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFF;
	display: block;
	position: absolute;
	opacity: 0.9;
}
.icePointer:hover {
	opacity: 1;
}
.icePointer > span {
	background-color: #30B6F3;
	border: 3px solid rgba(255,255,255,.8);
	padding: 6px;
	cursor: pointer;
}
.icePointer > span:hover {
	border-color: #FFF;
	-moz-box-shadow: 0 0 2px #000;
	color: #CCC;
}
.icePointer:before {
	display: block;
	content: '';
	width: 0px;
	border-right: 5px solid #222;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	position: absolute;
	top: 0px;
	left: -10px;
}
.icemarked {
	outline: thin dashed #252525;
	min-height: 10px;
}
.iceRounded, .icePointer > span {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.iceShadow, .icePointer > span {
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	-o-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}
.iceEditor {
	position: absolute;
	min-height: 85px;
	min-width: 320px;
	background-color: rgb(0,102,255);
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(0,102,255)),	color-stop(1, rgb(0,204,255)));
	background: -moz-linear-gradient(center bottom,rgb(0,102,255) 0%,rgb(0,204,255) 100%);
	display: none;
}
.iceEditorHead {
	background: rgba(255,255,255,0.2);
	height: 25px;
	border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	-o-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	font: bold 13px /25px Verdana, Arial, sans-serif;
	padding: 0 6px;
	color: #FFF;
	border-bottom: thin solid rgb(0,200,255);
	cursor: move;
}
.iceEditorHead span {
	font: normal 9px /25px Verdana, Arial, sans-serif;
}
.iceEditorToolbar {
	margin: 6px;
}
.iceEditorToolbar br {
	clear: both;
}
a.iceEditorToolbarButton {
	font-family: Verdana, Arial;
	font-size: 13px;
	font-weight: bold;
	line-height: 16px;
	text-decoration: none;
	text-align: center;
	color: #FFF;
	font-weight: normal;
	margin: 2px;
	border: 1px solid rgba(0,202,255,0.5);
	height: 16px;
	width: 16px;
	display: block;
	float: left;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: rgba(255,255,255,0.3);
	cursor: pointer;
	-moz-box-shadow: 0 0 1px #333;
	-webkit-box-shadow: 0 0 1px #333;
	box-shadow: 0 0 1px #333;
}
a.iceEditorToolbarButton:visited {
	color: #FFF;
}
a.iceEditorToolbarButton:hover {
	box-shadow: 0 0 4px #333;
	-webkit-box-shadow: 0 0 4px #333;
	-moz-box-shadow: 0 0 4px #333;
}
a.iceEditorToolbarButton.pressed {
	box-shadow: 0 0 2px #333;
	-moz-box-shadow: 0 0 2px #333;
	-webkit-box-shadow: 0 0 2px #333;
}
.iceEditorToolbarDivider {
	height: 22px;
	width: 1px;
	background: rgb(0,200,255);
	margin: 0 2px;
	float: left;
}
.ui-draggable-dragging {
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	-o-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
}
.iceOverlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999;
	background: #FFF;
	background: rgba(255,255,255,0.9);
	display: none;
}
.iceFloatWin {
	position: fixed;
	top: 100px;
	left: 0;
	width: 100%;
	z-index: 99999;
}
.iceFloatWin > div {
	width: 800px;
	height: 450px;
	margin: 0 auto;
	position: relative;
}
.CodeMirror-line-numbers {
	width: 2.2em;
	color: #aaa;
	background-color: #eee;
	text-align: right;
	padding-right: .3em;
	font-size: 10pt;
	font-family: monospace;
	padding-top: .4em;
}
.iceFloatWin > div > input {
	width: 150px;
	position: absolute;
	top: 470px;
	right: 0;
}

